.error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}