.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.pagination__button{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__button:hover{
  background-color: #e0e0e0;
  color: #fff;
  border: none;
  border-radius: 0;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
  color: #fff;
  opacity: 0.5;
  pointer-events: none;
  border: none;
  border-radius: 0;
  width: 100px;
  height: 50px;
}
.pagination__pageInfo_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination__pageInfo{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 100px;
  text-align: center;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.pagination__select{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}